Repository 2110336-SoftwareEngineering2/sec1_InfraTech, pull requests merged in 2021-04, with the labels that each got.

#94 Backend/feature/us5-2
  backend/mysql-script/1-init.sql
  backend/mysql-script/3-data.sql
  backend/src/review/dtos/create-review-dto.ts
  backend/src/review/entities/review.entity.ts
  backend/src/review/review.module.ts
  backend/src/review/review.service.ts
Labels: backend, enhancement

#95 Backend/feature/us5-3
  backend/mysql-script/1-init.sql
  backend/mysql-script/3-data.sql
  backend/src/application/application.controller.ts
  backend/src/application/application.service.ts
  backend/src/entities/trainer.entity.ts
Labels: backend, help wanted, invalid

#96 Frontend/features/landing page
  frontend/pages/index.js
  frontend/public/landing_hero.jpg
  frontend/public/trainee.png
  frontend/public/trainer.png
Labels: enhancement, frontend
