Repository 2110336-SoftwareEngineering2/sec1_InfraTech, pull requests merged in 2021-03, with the labels that each got.

#53 Frontend/feature/trainer course
  frontend/components/common/AppLayout.js
  frontend/components/common/Footer.js
  frontend/components/common/Header.js
  frontend/components/common/Sider.js
  frontend/components/common/index.js
  frontend/components/course/TrainerCourseItem.js
  frontend/components/course/TrainerCourseList.js
  frontend/components/register/index.js
  frontend/pages/index.js
  frontend/pages/login.js
  frontend/pages/profile.js
  frontend/pages/register.js
  frontend/tailwind.config.js
Labels: enhancement, frontend

#57 🐛 fix preference svg path
  backend/init.sql
Labels: backend

#55 Backend/feature/us4-3
  backend/src/app.module.ts
  backend/src/trainer/dtos/trainer-search-criteria-dto.ts
  backend/src/trainer/trainer.controller.ts
  backend/src/trainer/trainer.module.ts
  backend/src/trainer/trainer.service.ts
Labels: backend, enhancement, invalid

#56 Frontend/feature/sider router
  frontend/components/common/AppLayout.js
  frontend/components/common/Loading.js
  frontend/components/common/Sider.js
  frontend/config/Sider.config.js
  frontend/pages/index.js
  frontend/pages/profile.js
Labels: enhancement, frontend

#58 Frontend/feature/sider router
  frontend/components/common/AppLayout.js
  frontend/components/common/Sider.js
  frontend/config/Sider.config.js
  frontend/pages/profile.js
Labels: enhancement, frontend

#59 Frontend/feature/trainer create course
  frontend/components/course/TrainerCourseForm.js
  frontend/components/course/TrainerCourseList.js
Labels: enhancement, frontend

#63 Frontend/feature/trainer edit course
  frontend/components/course/TrainerCourseForm.js
  frontend/components/course/TrainerCourseFormModal.js
  frontend/components/course/TrainerCourseItem.js
  frontend/components/course/TrainerCourseList.js
Labels: enhancement, frontend

#65 Frontend/feature/trainer course form specialization
  frontend/components/InformationProfile.js
  frontend/components/course/TrainerCourseForm.js
  frontend/components/course/TrainerCourseList.js
  frontend/pages/profile.js
Labels: frontend

#64 Frontend/feature/trainer course form modal
  frontend/components/course/TraineeListModal.js
  frontend/components/course/TrainerCourseForm.js
  frontend/components/course/TrainerCourseFormModal.js
  frontend/components/course/TrainerCourseItem.js
  frontend/components/course/TrainerCourseList.js
Labels: enhancement, frontend

#61 Backend/feature/us4-2
  backend/init.sql
  backend/package.json
  backend/src/entities/trainee.entity.ts
  backend/src/entities/trainer.entity.ts
  backend/src/trainer/dtos/trainer-search-criteria-dto.ts
  backend/src/trainer/entities/review.entity.ts
  backend/src/trainer/enums/trainer-sort-by.enum.ts
  backend/src/trainer/trainer.controller.ts
  backend/src/trainer/trainer.service.ts
  backend/yarn.lock
Labels: backend, enhancement, help wanted, invalid

#60 [WIP] Add course db and entity
  backend/init.sql
  backend/src/app.module.ts
  backend/src/application/application.controller.ts
  backend/src/application/application.module.ts
  backend/src/application/application.service.ts
  backend/src/application/entities/application.entity.ts
  backend/src/course/course.controller.ts
  backend/src/course/course.module.ts
  backend/src/course/course.service.ts
  backend/src/course/dtos/course.dto.ts
  backend/src/course/entities/course.entity.ts
  backend/src/entities/trainee.entity.ts
  backend/src/entities/trainer.entity.ts
  backend/src/trainee/entities/trainee.entity.ts
  backend/src/trainee/trainee.module.ts
  backend/src/trainee/trainee.service.ts
  backend/src/user/entity/user.entity.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: backend

#67 Backend/feature/us4 2
  backend/init.sql
  backend/src/entities/trainer.entity.ts
  backend/src/trainer/dtos/trainer-search-criteria-dto.ts
  backend/src/trainer/enums/trainer-sort-by.enum.ts
  backend/src/trainer/enums/trainer-sort-type.enum.ts
  backend/src/trainer/trainer.service.ts
Labels: backend, enhancement

#68 Frontend/feature/trainer course form modal
  backend/init.sql
  frontend/components/course/TrainerCourseForm.js
  frontend/components/course/TrainerCourseFormModal.js
  frontend/components/course/TrainerCourseItem.js
  frontend/components/course/TrainerCourseList.js
  frontend/components/course/TrainerCreateCourseFormModal.js
  frontend/components/course/TrainerEditCourseFormModal.js
Labels: enhancement, frontend

#69 Backend/feature/get-trainer-by-id
  backend/src/entities/trainer.entity.ts
  backend/src/trainer/enums/trainer-use-cases.enum.ts
  backend/src/trainer/trainer.controller.ts
  backend/src/trainer/trainer.service.ts
Labels: backend, enhancement, refactor

#70 Frontend/feature/user session management
  frontend/components/CustomUpload.js
  frontend/components/common/AppLayout.js
  frontend/components/common/Footer.js
  frontend/components/common/Header.js
  frontend/config/Sider.config.js
  frontend/lib/useUser.js
  frontend/next.config.js
Labels: enhancement, frontend

#71 Frontend/feature/confirm course deletion
  backend/docker-compose.development.yml
  backend/init.sql
  backend/mysql-script/1-init.sql
  backend/mysql-script/2-trigger.sql
  backend/mysql-script/3-data.sql
  frontend/components/course/TrainerCourseItem.js
Labels: backend, enhancement, frontend, refactor

#72 Add dockerfile for backend
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-compose.development.yml
Labels: backend, refactor

#82 Frontend/fix course card
  backend/mysql-script/1-init.sql
  backend/mysql-script/3-data.sql
  backend/src/course/course.service.ts
  backend/src/course/dtos/course.dto.ts
  backend/src/course/entities/course.entity.ts
  frontend/components/course/TrainerCourseForm.js
  frontend/components/course/TrainerCourseItem.js
  frontend/components/course/TrainerCourseRequest.js
Labels: frontend, refactor

#87 Frontend/fix course item
  frontend/components/application/TraineeApplicationItem.js
  frontend/components/course/CourseItemFooter.js
  frontend/components/course/TraineeRequest.js
  frontend/components/course/TraineeViewCourseItem.js
  frontend/components/course/TrainerCourseItem.js
  frontend/components/course/TrainerCourseRequest.js
  frontend/lib/setCapitalLetter.js
Labels: frontend, refactor

#88 Backend/feature/get faq
  backend/mysql-script/1-init.sql
  backend/mysql-script/3-data.sql
  backend/src/app.module.ts
  backend/src/entities/trainer.entity.ts
  backend/src/faq/dtos/faq.dto.ts
  backend/src/faq/entities/faq.entity.ts
  backend/src/faq/faq.controller.ts
  backend/src/faq/faq.module.ts
  backend/src/faq/faq.service.ts
Labels: backend, enhancement

#89 Backend/feature/us5-1
  backend/src/app.module.ts
  backend/src/entities/trainer.entity.ts
  backend/src/review/dtos/create-review-dto.ts
  backend/src/review/entities/review.entity.ts
  backend/src/review/review.controller.ts
  backend/src/review/review.module.ts
  backend/src/review/review.service.ts
Labels: backend, enhancement

#90 Create docker-compose for project
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/components/application/TraineeApplicationItem.js
  frontend/next.config.js
Labels: enhancement, frontend

#91 Backend/feature/faq crud
  backend/src/faq/faq.controller.ts
  backend/src/faq/faq.service.ts
Labels: backend, enhancement

#93 ิbackend/feature/swagger auth
  backend/src/application/application.controller.ts
  backend/src/course/course.controller.ts
  backend/src/course/dtos/course.dto.ts
  backend/src/faq/dtos/faq.dto.ts
  backend/src/faq/faq.controller.ts
  backend/src/login/dtos/login-form-dto.ts
  backend/src/login/login.controller.ts
  backend/src/main.ts
  backend/src/preference/preference.controller.ts
  backend/src/profile/profile.controller.ts
  backend/src/register/register.controller.ts
  backend/src/trainer/trainer.controller.ts
Labels: backend, enhancement
